@import url('https://fonts.googleapis.com/css?family=Lobster|Comfortaa&display=swap');

body {
  background: grey;
  padding: 20px;
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  left: 100px;
}
.logo-wrap {
  width: 290px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
