@font-face {
    font-family: 'tt_masters';
    src: url('fonts/tt_masters_demo_black-webfont.woff2') format('woff2'), url('fonts/tt_masters_demo_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futurabt_bold';
    src: url('fonts/futurabt-bold-webfont.woff2') format('woff2'), url('fonts/futurabt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.container {
    width: 300px;
    height: 600px;
    overflow: hidden;
    border: 1px solid black;
    position: relative;
}

#top-section {
    position: absolute;
    width: 300px;
    height: 446px;
    background-image: url(images/top-shape.png);
    z-index: 100;
}

#top-section #title-container {
    position: absolute;
    left: 30px;
    top: 100px;

    transform: rotate(-12.7deg) scale(2,2);
    opacity: 0;
}

#top-section .big-text {
    font-size: 146px;
    color: white;
    font-family: 'tt_masters';
}

#top-section .sales-text{
    font-size: 77px;
    color: #ffc600;
    font-family: 'tt_masters';
    line-height: 10px;
}

#middle-section {
    position: absolute;
    top: 100px;
}
#middle-section #photo1 {
    position: absolute;
    opacity: 1;
}
#middle-section #photo2 {
    position: absolute;
    opacity: 0;
    left: -300px;
}
#middle-section #photo3 {
    position: absolute;
    opacity: 0;
}
#middle-section #photo4 {
    position: absolute;
    opacity: 0;
}

#last-screen {
    width: 300px;
    position: absolute;
    opacity: 0;
}

#bottom-section {
    position: absolute;
    width: 300px;
    height: 216px;
    background-image: url(images/bottom-shape.png);
    top: 384px;
    
}
.text {
    user-select: none;
    cursor: default;
}

#logo {
    width: 300px;
    position: absolute;
    text-align: center;
    bottom: 17px;
}

#last-screen .cta-button {
    width: 178px;
    height: 58px;
    background-color: #ffd200;
    font-family: 'futura_bold';
    font-size: 20px;
    text-align: center;
    padding-top: 16px;
    box-sizing: border-box;
    position: absolute;
    left: 60px;
    top: 262px;
}
#last-screen .promo-sub {
    font-family: 'tt_masters';
    font-size: 25px;
    color: black;
}

#upto-txt {
    position: absolute;
    top: 72px;
    width: 100%;
    text-align: center;
    opacity: 0;
}

#off-txt {
    position: absolute;
    top: 214px;
    width: 100%;
    text-align: center;
    opacity: 0;
}

#percent-txt {
    position: absolute;
    top: 90px;
    left: 50px;
    transform: rotate(-12.7deg) scale(2,2);
    opacity: 0;
    text-align: center;
}
#percent-txt .percent {
    font-size: 110px;
    font-family: 'tt_masters';
    color: #db0000;
  
}
